body{
    font-family: Arial, sans-serif;
    background-color: #fff0f6;
    color: #333;
    text-align: center;
    padding: 50px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media (max-width: 800px) {
    body {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 15px 0;
    }
}
